<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiArch</title>
    <link rel="stylesheet" href="/public/design.css">
</head>
<body>
    <nav class="info">
        <div class="navcon">
        
         <a href="/home.ejs">Home</a>
         <a href="/login.ejs">Logout</a>
         
        </div>  
    </nav>
    <h1>Welcome to the Digi-Arch</h1>
    <div id="img">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/mbr-1657190156-S8bl9/mbr-1-1-1658735478-uSmFn.png" alt="br1">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/mbr-1657190156-S8bl9/41-1661497336-3enNc.png" alt="br2">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/mbr-1657190156-S8bl9/37-1661497046-JCWKG.png" alt="br3">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/mbr-1657190156-S8bl9/53-1661494965-uvLGw.png" alt="br4">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/living-room-1657190512-fE8h4/c3-1-1-1657275459-diN1J.png" alt="lr1">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/living-room-1657190512-fE8h4/881-1658753763-sWY87.png" alt="lr2">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/wardrobe-1657179096-XjS7i/18-1658849875-B171y.png" >
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/wardrobe-1657179096-XjS7i/48-1661497874-oICmT.png" >
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/wardrobe-1657179096-XjS7i/10-1658818377-rECnP.png">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/wardrobe-1657179096-XjS7i/master-bed-room-2-1-1658389010-WOW53.png" >
        
    </div>
    
</body>
</html>