<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/public/home.css">
</head>
<body>

    <nav class="buttons">
        <button class="btn-1"><a href="/register">Sign Up!</a></button>
        <button class="btn-2"><a href="/login">Already a user? Sign In!</a></button>
    </nav>

    
    <div class="con">
      <h1>Digi Arch!</h1>
     <h2>Get awesome design ideas for your place at one place</h2>
    </div>

    <div class="images">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/mbr-1657190156-S8bl9/mbr-1-1-1658735478-uSmFn.png" alt="br1">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/mbr-1657190156-S8bl9/41-1661497336-3enNc.png" alt="br2">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/mbr-1657190156-S8bl9/37-1661497046-JCWKG.png" alt="br3">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/mbr-1657190156-S8bl9/53-1661494965-uvLGw.png" alt="br4">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/living-room-1657190512-fE8h4/c3-1-1-1657275459-diN1J.png" alt="lr1">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/living-room-1657190512-fE8h4/881-1658753763-sWY87.png" alt="lr2">
    </div>
    
</body>
</html>