<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/public/login.css">
</head>
<body>
    <form method="post" action="/login">
        <h1>Login!</h1>
        
          <div class="container">
            <label for="email">Email<sup>*</sup></label><br>
            <input type="text" placeholder="Enter Email" name="email" required> <br>
        
            <label for="pw">Password<sup>*</sup></label><br>
            <input type="password" placeholder="Enter Password" name="pw" required> <br>
        
            <button type="submit">Login</button>
            
          </div>
        
    </form>
    <div class="images">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/wardrobe-1657179096-XjS7i/18-1658849875-B171y.png" >
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/wardrobe-1657179096-XjS7i/48-1661497874-oICmT.png" >
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/wardrobe-1657179096-XjS7i/10-1658818377-rECnP.png">
        <img src="https://images.livspace-cdn.com/w:768/h:400/plain/https://d3gq2merok8n5r.cloudfront.net/abhinav/ond-1634120396-Obfdc/jas-1657179080-NnXAg/wardrobe-1657179096-XjS7i/master-bed-room-2-1-1658389010-WOW53.png" >
    </div>
</body>
</html>